body {
    font-family: Arial, sans-serif;
  }
  
  .notes-container {
    position: relative;
    width: 100%;
    height: 100vh;
  }
  
  .note {
    position: absolute;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: move;
    width: 20%; /* Ancho mínimo de la nota */
    min-height: 50px; /* Altura mínima de la nota */
    top: 10px; /* Ajusta la distancia desde la parte superior */
    left: 10px; /* Ajusta el margen izquierdo */
  }


  /* Ajusta la posición del menú para que esté contenido en la nota */
.note:hover .menu {
    display: block;
  }

  .note .menu {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }
  

  .note .menu button {
    background: transparent;
    border: none;
    cursor: pointer;
  }
    
  .note .menu button:hover {
    background: #ccc;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    z-index: 1; /* Asegura que el menú esté en la parte superior y no se oculte */
  }
  